@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

header {
    background-color: lightgray;
    height: 50px;
    width: 100%;
    position: fixed;
}

nav {
    /*border: 3px dotted black;*/
    height: inherit;
    width: inherit;
    display: flex;
    /*justify-content: start;*/
    align-items: center;

}

nav > a {
    text-decoration: none;
    color: black;
    padding: 0 15px;
    font-size: 30px;
}

nav > a:hover {
    color:lightseagreen ;
}

.about_us {
    display: flex;
    flex-direction: reverse;
    justify-content: center;
}

footer {
    background-color: lightgray;
    height: 50px;
}

.about_us-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
}
.about_us-description > p {
    padding: 10px
}

.my_game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
}

.my_game>* {
    text-align: center;
}

.my_game input,
.my_game button {
    border: none;
    padding: 10px;
    min-height: 30px;
    margin: 10px
}

.my_game button {
    width: max-content;
    background-color: rgb(129, 206, 202);
    padding: 0 10 px;
    border-radius: 5px;
    font-weight: 30px;
    font-size: 20px
}

.my_game input {
    background-color: lightgray;
    outline: none;
}

.choosed_block {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.choosed_block p{
    margin: 20px;
}

.choosed_block-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 650px;
}

.choosed_block-container > div {
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkkhaki;
}

.choosed_element {
    border: 3px solid black;
}

.posts_block {
    max-width: 700px;
    margin: 30px;
    padding: 20px;
}

.posts_block button {
    border: none;
    margin: 10px;
    background-color: rgb(129, 206, 202);
    border-radius: 5px;
    font-weight: 30px;
    font-size: 20px;
    padding: 10px;
}

.posts_block h1 {
    text-align: center;
    margin: 50px;
}

.posts_block-container>* {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: lightblue;
}

img {
    width: 600px;
    height: 710px;
    margin: 10px 100px;
    object-fit: cover;
    object-position: top;
    padding: 80px;
}

span {
    font-size: 20px;
}

.name {
    color: red;
}

#skill {
    color: green;
}

#skillOld {
    color: blue;
}

#islove {
    color: orchid;
}

h1 {
    padding: 0;
    margin: 30px;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}